<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x mb-4"></i>
    <h1 class="display-3 mb-3">You've Discovered My Secret!</h1>
    <p class="secret-text mb-4">Never gonna give you up.</p>
    <hr class="my-4">

    <div class="d-flex justify-content-center gap-3 mt-4">
      <a class="btn btn-light btn-lg me-2" href="/logout" role="button">Log Out</a>
      <a class="btn btn-dark btn-lg ms-2" href="/submit" role="button">Submit a Secret</a>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
