
body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
  padding: 1rem;
  border-radius: 8px;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
